button {
	border: none;
	background-color: var(--white);
	outline: none;
  font-size: 20.25px;
  padding: 8px 30px;
  border-radius: 3px;
  border: 1px solid var(--border);
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

button:hover {
	border: 1px solid var(--main);
	transition: 0.1s;
}

button:active {
	color: #fff;
	background-color: var(--main);
  box-shadow: inset 1px 1px 5px var(--black);
  transition: 0.1s;
}

a {
  display: block;
  text-decoration: none;
}

a:hover {
	color: var(--main);
	transition: 0.3s;
}

button.small {
  font-size: 16px;
  padding: 8px 24px;
}

button.large {
  font-size: 25.63px;
  padding: 8px 42px;
}

button.x-large {
	font-size: 28.83px;
	padding: 8px 48px;
}

button.full {
	width: 100%;
}

 /*Small Devices, Tablets, Phones*/ 
@media only screen and (max-width :768px) {
	button {
		width: 100%;
	}
}

@media only screen and (max-width :480px) {
	button {
		width: 100%;
	}
}