form {
	width: 100%;
}

input, select, textarea {
	border: none;
	border-bottom: 1px solid var(--border);
	padding: 10px;
	width: 100%;
	outline: none;
	font-size: 16px;
	font-weight: 100;
	padding-left: 0;
	border-radius: 0;
}

textarea {
	height: 150px;
	resize: none;
}

label {
	padding-top: 15px;
  font-weight: 500;
}

label > span {
	color: red;
	font-size: 12px;
}

input:focus, 
textarea:focus {
	border-bottom: 2px solid var(--main);
	box-shadow: none;
}

input:focus + label, 
textarea:focus + label {
	color: var(--main);
}

input:required:valid, 
textarea:required:valid {
	border-bottom: 2px solid var(--main);
	box-shadow: none;
}

input:required:valid + label, 
textarea:required:valid + label {
	color: var(--main);
}

form.submitted input:required:invalid, 
form.submitted textarea:required:invalid {
	border-bottom: 2px solid var(--red);
}

form.submitted input:required:invalid + label, 
form.submitted textarea:required:invalid + label {
	color: var(--red);
}

.form-submit {
	margin: 25px auto;
}